<<<<<<< HEAD
*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: "Gabarito", sans-serif;
}

.navbar{
    padding: 5px;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    border-bottom: solid black 1px;
    align-items: center;
    background-color: whitesmoke;
    position: sticky;
    top: 0;
    z-index: 1;
}

.navbar__s1__title{
    color: #A435F0;
}

.navbar__s2{
    padding: 10px;
    border: solid black 1px;
    border-radius: 30px;
    width: 50%;
    display: flex;
    gap: 10px;
}

.navbar__s2 input{
    border: none;
    width: 70%;
    font-size: 16px; 
    background-color: transparent;   
}

.navbar__s2 input:focus{
    outline: none;
}

.navbar__s3{
    display: flex;
    gap: 20px;
    align-items: center;
}

.categories{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: solid black 1px;
}

.categories p{
    background-color: #A435F0;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    border: solid #A435F0 1px;
}

.categories p:hover{
    transition: 1s;
    background-color: transparent;
    color: black;
    border: #A435F0 solid 1px;
}

.sale_image img{
    width: 100%;
    height: 400px;
}

.sale_image{
    position: relative;
}

.sale_image__offer{
    position: absolute;
    width: 25%;
    border: solid black 2px;
    padding: 2%;
    background-color: white;
    top: 10%;
    right: 10%;
    border-radius: 10px;
    animation-name: zoom;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    /* animation-fill-mode: forwards; */
    opacity: 0;
}

@keyframes zoom{
    0%{
        transform: scale(0);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}

.mylearning{
    position: relative;
    cursor: pointer;
}

.mylearning__popup{
    position: absolute;
    width: 100px;
    right: 0px;
    top: 30px;
    background-color: white;
    border: solid black 1px;
    border-radius: 10px;
    padding: 5px;
    display: none;
    z-index: 2;
}

.mylearning:hover .mylearning__popup{
    display: block;
}

.card-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}

.card-container img{
    width: 200px;
    height: 200px;
}

.recommended{
    margin: 10px;
}

.topics{
    padding: 10px;
}

.topics-container{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 10px;
    flex-wrap: wrap;
}

.topics-container p{
    padding: 5px;
    border: solid gray 1px;
    flex-grow: 1;
    flex-basis: 25%;
}

.popular{
    padding : 10px;
}

.popular-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
    
}

.popular-container img{
    width: 200px;
    height: 200px;
}

.popular-container div{
    padding: 10px;
}

.footer-one{
    display : flex;
    flex-direction: row;
    gap: 10px;
}

.footer{
    background-color: black;
    color: white;
    padding: 30px;
}

.footer-one p{
    margin: 10px;
}

.footer-two{
    display : flex;
    flex-direction: row;
    margin: 40x;
    align-items: center;
    justify-content: space-between;
=======
*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: "Gabarito", sans-serif;
}

.navbar{
    padding: 5px;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    border-bottom: solid black 1px;
    align-items: center;
    background-color: whitesmoke;
    position: sticky;
    top: 0;
    z-index: 1;
}

.navbar__s1__title{
    color: #A435F0;
}

.navbar__s2{
    padding: 10px;
    border: solid black 1px;
    border-radius: 30px;
    width: 50%;
    display: flex;
    gap: 10px;
}

.navbar__s2 input{
    border: none;
    width: 70%;
    font-size: 16px; 
    background-color: transparent;   
}

.navbar__s2 input:focus{
    outline: none;
}

.navbar__s3{
    display: flex;
    gap: 20px;
    align-items: center;
}

.categories{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: solid black 1px;
}

.categories p{
    background-color: #A435F0;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

.sale_image img{
    width: 100%;
    height: 400px;
}

.sale_image{
    position: relative;
}

.sale_image__offer{
    position: absolute;
    width: 25%;
    border: solid black 2px;
    padding: 2%;
    background-color: white;
    top: 10%;
    right: 10%;
    border-radius: 10px;
}

.mylearning{
    position: relative;
    cursor: pointer;
}

.mylearning__popup{
    position: absolute;
    width: 100px;
    right: 0px;
    top: 30px;
    background-color: white;
    border: solid black 1px;
    border-radius: 10px;
    padding: 5px;
    display: none;
    z-index: 2;
}

.mylearning:hover .mylearning__popup{
    display: block;
}

.card-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}

.card-container img{
    width: 200px;
    height: 200px;
}

.recommended{
    margin: 10px;
}

.topics{
    padding: 10px;
}

.topics-container{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 10px;
    flex-wrap: wrap;
}

.topics-container p{
    padding: 5px;
    border: solid gray 1px;
    flex-grow: 1;
    flex-basis: 25%;
}

.popular{
    padding : 10px;
}

.popular-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
    
}

.popular-container img{
    width: 200px;
    height: 200px;
}

.popular-container div{
    padding: 10px;
}

.footer-one{
    display : flex;
    flex-direction: row;
    gap: 10px;
}

.footer{
    background-color: black;
    color: white;
    padding: 30px;
}

.footer-one p{
    margin: 10px;
}

.footer-two{
    display : flex;
    flex-direction: row;
    margin: 40x;
    align-items: center;
    justify-content: space-between;
>>>>>>> f2a13681b55720e821cd111d28bc3802834e376f
}